<form action="/admin/deletecar" id="delcarform" method="POST">
    <div class="card ">
        <div class="card-header ">
            <h4 class="card-title ">Delete Car</h4>
        </div>
        <div class="card-body ">
            <div class="mb-3 card-body " style="padding-left: 1rem;">
                <label for="deletecar" class="form-label" id="delete_car">Car Name</label>
                <input type="text" name="deletecar" class="form-control col-5 " id="deletecar"  required>
            </div>
            <div class="d-flex justify-content-center align-items-center ">
                <button class="btn btn-outline-dark " id="del-btn" type="submit">Delete</button>
            </div>
            
        </div>
    </div>
</form>
