<footer class="text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 col-12">
                <h5>Contact Us</h5>
                <p>If you have any questions, feel free to get in touch with us.</p>
                <a href="/contact" class="btn btn-outline-light">Contact Form</a>
            </div>
            <div class="col-md-4 mb-4 col-12">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Porsche" target="_blank" class="me-3"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Porsche" target="_blank" class="me-3"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/porsche/" target="_blank" class="me-3"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 col-12">
                <h5>More Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white mb-2">Link 1</a></li>
                    <li><a href="#" class="text-white mb-2">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <p>© 2024 Porsche Cars North America, Inc. Legal notice. Privacy notice. California Privacy. Accessibility Statement. Open Source Software Notice. Do Not Sell or Share My Personal Information. Whistleblower System. Emergency Responders. Recall Information. 3G Wireless Turndown FAQs.</p>
    </div>
</footer>
