<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css">
</head>

<body>
    <div class="container">
        <div class="image"></div>
        <div class="login">
            <center>
                <img id="logo" src="/login-pic/1713025986077.png" height="40%" width="40%">
                <br>
                <form id="forgotPasswordForm" method="POST" action="/password-reset">
                    <h2>Forgot Password</h2>
                    <input type="text" name="email" placeholder="Enter your Email" required
                        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                    <br>
                    <input type="submit" value="Reset Password">
                </form>
                <div id="sign-up">
                    <h3>Remember your password?</h3>
                    <a href="/login">Login</a>
                </div>
            </center>
        </div>
    </div>

    <script src="/js/forgotpassword.js"></script>
</body>

</html>
