@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
    font-family: 'Playfair Display', serif !important;
}
.Models_heading{
   font-weight: bolder;
   font-size: xx-large;
}


.model_cards {
    margin: 10px auto;
    position: relative;
    border-radius: 15px !important;
    overflow: hidden !important;
}

.model_cards img {
    height: 100%;
}

.carname {
    font-weight: bold;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-style: italic;
    position: absolute;
    top: 0px;
    left: 10px;
}

.cardesc {
    position: absolute;
    bottom: 0px;
    left: 10px;
    padding-left: 1.15rem;
    padding-right: 2rem;
    padding-bottom: 0px;
}

.desctxt {
    font-weight: 500;
    font-size: 1.5rem;

}

.carprice {
    color: white;
    font-size: 1.15rem;
    font-weight: 300;
}



.buildbtn {

    color: black !important;
    font-size: 1.05rem;
    font-weight: 100;
    height: 3rem;
    
    background-color: white !important ;


}

.transparent-btn {
    background-color: transparent !important;
    border: 1px solid white !important;
    color: white !important;
    text-align: center !important;
    font-size: 1.05rem !important;
    font-weight: 100 !important;
    height: 3rem !important;
   
}

.transparent-btn:hover {
    background-color: rgba(35, 58, 83, 0.463);
   
    border: 1px solid white !important;
    color: white !important;
    
}

.taxdesc{
    font-size: 0.70rem !important;
    color: rgba(0, 0, 0, 0.745) !important;
    padding-left: 1.5rem ;
    padding-top: 1.5rem;
    padding-bottom: 10rem;
}
.findcenter{
    background-color: black !important;
    width: 100%;
    height: 100%;
    padding-top: 4rem !important;
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}

.dealercard{
    color: white !important;
    border-radius: 25px !important;
    overflow: hidden;
}
.dealersearchbtn{
    font-size: 1.05rem;font-weight: 100;height: 3rem;
}
@media (max-width: 992px) {
    .dealersearchbtn {
      display: block !important;
      width: 100%;
      
    }
    
  }
  