.playfair-display {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Porsche Next', 'Arial Narrow', Arial, 'Heiti SC', SimHei, sans-serif;
    line-height: calc(6px + 2.125ex);
    letter-spacing: normal;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 1 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: none;
}

.image {
    flex: 60%;
    min-width: 300px;
    background-image: url(/login-pic/macan.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.login {
    flex: 40%;
    padding: 20px;
}

.login h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login input[type="text"],
.login input[type="password"],
.login input[type="submit"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



.login input[type="submit"] {
    background-color: #383838;
    color: #fff;
    border: none;
    cursor: pointer;
}

#sign-up {
    display: inline-block;
    margin-top: 20px;
}

#sign-up h3 {
    display: inline-block;
    margin-right: 10px;
}

#sign-up a {
    display: inline-block;
    color: #383838;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .image {
        height: 50vh;
        min-width: 100%;
        display: none;
    }
}